.container-notas {
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  height: 500px;
  align-items: center;
  border: 10px ridge rgb(157, 58, 250);
  width: 80%;
  margin: 20px;
  margin-left: 170px;
}

.label {
  color: rgb(110, 56, 134);
  margin-bottom: 20px;
 
  font-size: 50px;
}

.textarea {
  font-size: 20px;
  border-radius: 15px;
  border: 3px double rgb(157, 58, 250);
  padding: 5px;
  height: 350px;
  width: 90%;
  background-color: rgb(224, 190, 255);
}

.textarea:focus{
  outline: none;
  padding: 10px;
}