.contenedor-cabecera{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

}

.titulolista{
    color: rgb(110, 56, 134);
    font-weight: bold;
    text-shadow: 2px 2px 2px 2px white;
    font-size: 50px;
}
