.contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin: 0.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #c26ca5, #b30988); 
    color: rgb(241, 200, 236);
    
    border: 3px solid rgb(121, 13, 243);
    border-radius: 15px;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}